/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

/* .example {
  font-family: sans-serif;
  padding: 50px;
}
.example h1 {
  font-size: 10vw;
  color: blue;
  margin: 0;
}
.example p {
  line-height: 1.6;
}

.h1 {
  font-family: cursive;
} */

@font-face {
  font-family: "sabon";
  src: url(../fonts/sabon-roman.otf);
}

@font-face {
  font-family: "sabon-ital";
  src: url(../fonts/sabon-ital.otf);
}

.sabon {
  font-family: "sabon";

  line-height: 1.2;
  color: #faffd1;
}

.ital {
  font-family: "sabon-ital";

  line-height: 1.2;
  color: #faffd1;
}

.statement {
  font-family: "sabon";
  line-height: 1.2;
  display: block;
  position: fixed;
  /* padding-left:  */
  margin-bottom: 100px;
  /* width: 700px; */
  z-index: 9999;
}

.subt {
  font-family: "sabon";
  font-size: 11pt;
}

@media (min-width: 720px) {
  .subt {
    font-size: 13pt;
  }
}

@media (min-width: 910px) {
  .subt {
    font-size: 15pt;
  }
}

@media (min-width: 1050px) {
  .subt {
    font-size: 20pt;
  }
}

@font-face {
  font-family: "neg";
  src: url(../fonts/karloff-neg.otf);
}

.neg {
  line-height: 1;
  font-family: "neg";
  font-size: 14pt;
}

@media (min-width: 720px) {
  .neg {
    font-size: 17pt;
  }
}

@media (min-width: 910px) {
  .neg {
    font-size: 19pt;
  }
}

@media (min-width: 1050px) {
  .neg {
    font-size: 25pt;
  }
}

.kar {
  line-height: 1;
  font-family: "neg";
}

@media (min-width: 720px) {
  .kar {
  }
}

@media (min-width: 910px) {
  .kar {
  }
}

@media (min-width: 1050px) {
  .kar {
  }
}

.typpad {
  padding-top: 10px;
}

.background {
  background-color: #f23f1f;
}

.color-grad {
  background: linear-gradient(to right, #fc7b11, #e6f210, #f23f1f, #9ae82e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-x {
  background: linear-gradient(to right, #fc7b11, #e6f210, #f23f1f, #9ae82e);
}
